body {
    margin-left: 5%;
    margin-top: 2rem;
    margin-right: 5%;
    background-color: #dee66f;
    font-family: Calibri, Arial, sans-serif;
    color: #073763;
}

h1 {
    font-family: Calibri, Arial, sans-serif;
    color: #333333;
    font-size: 28px; 
}

ul.results {
    font-style: italic;
    font-size: 18px;
li {
    list-style-type: ;
}
}