body {
    margin-left: 5%;
    margin-top: 2rem;
    margin-right: 5%;
    background-color: #eeec7c;
    font-family: Calibri, Arial, sans-serif;
    color: #073763;
}

h1 {
    font-family: Calibri, Arial, sans-serif;
    color: #333333;
    font-size: 36px;
}

ul.results {
    font-style: italic;
    font-size: 24px;
}
