body {
    margin-left: 5%;
    margin-top: 2rem;
    margin-right: 5%;
    background-color: #dee66f;
    font-family: Calibri, Arial, sans-serif;
    color: #073763;
}

h1 {
    font-family: Calibri, Arial, sans-serif;
    color: #333333;
    font-size: 28px; 
}

ul.results {
    font-style: italic;
    font-size: 18px;
li {
    list-style-type: ;
}
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #f5f5f5;
    padding: 10px;
}

.grid-container>div {
    background-color: #333333;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}